{% extends 'base.html' %}
{% block body %}
<form action="{% url 'confirm' %}" class="container py-4">{% csrf_token %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <h2>Carrito</h2>
            {% for product_id, product in request.session.cart.items %}
            <article class="card card-body container py-2 bg-light">
                <div class="row">
                    <a href="{% url 'product' product_id %}" class="col-6 col-lg-3">
                        <img src="{{product.image_url}}" class="img-thumbnail" alt="{{product.name}}">
                    </a>
                    <div class="col-6 col-lg-9">
                        <div class="row">
                            <div class="list-group list-group-flush">
                                <li class="list-group-item bg-light">
                                    <a href="{% url 'product' product_id %}" class="h4 text-decoration-none text-dark">
                                        {{product.name}}
                                    </a>
                                </li>
                                <li class="list-group-item bg-light">
                                    <h5>Precio : {{product.unit_price}} $</h5>
                                </li>
                                <li class="list-group-item bg-light">Proveedor : {{product.supplier}}</li>
                            </div>
                        </div>
                        <div class="row p-1 py-3">
                            <div class="col-md-4 col-lg-auto">
                                <label for="cantidad" class="form-label">Cantidad:</label>
                            </div>
                            <div class="col-md-8 col-lg-auto">
                                <input class="form-control" placeholder="Cantidad" type="number" value="{{product.quantity}}"
                                    required readonly>
                            </div>
                            <div class="col-6 col-lg-auto">
                                <a href="{% url 'remove' product_id %}" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                    Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}

        </div>
        <div class="col-12 col-lg-4">
            <h2>Descargo</h2>
            <article class="card card-body bg-light">
                <ul class="list-group list-group-flush">
                    {% for product_id, product in request.session.cart.items %}
                    <li class="list-group-item bg-light">{{ product.name }} : {{ product.subtotal }} $</li>
                    {% endfor %}
                    <li class="list-group-item bg-light">
                        <h5>Total: {{ request.session.total }} $</h5>
                    </li>
                    <li class="list-group-item bg-light text-center pt-3">
                        <button type="submit" class="btn btn-warning btn-lg">
                            <i class="fas fa-clipboard-check"></i>
                            Confirmar pedido
                        </button>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</form>
{% endblock %}
